<div class="container px-4">
    <div class="row" *ngIf="responseMessage != ''">
        <div class="col-sm-12">
            <div class="alert alert-{{messageType}}" role="alert">{{responseMessage}}</div>
        </div>
    </div>
</div>
<div class="contianer">
    <div class="row" *ngIf="responseMessage == ''">
        <div class="col-sm-12">
            <form class="form-group">
                <div class="row">
                    <div class="col-sm-1">
                        <label for="password">New Password</label>
                    </div>
                    <div class="col-sm-5">
                        <input type="password" class="form-control" name="password" id="password" [(ngModel)]="user.password" />
                    </div>
                    <div class="col-sm-1">
                        <label for="repeatPassword">Repeat Password</label>
                    </div>
                    <div class="col-sm-5">
                        <input type="password" class="form-control" name="repeatPassword" id="repeatPassword" [(ngModel)]="repeatPassword"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <button *ngIf="messageType == 'danger'" (click)="changePassword()" class="btn btn-success">Change Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row" *ngIf="message != ''">
        <div class="col-sm-12">
            <div class="alert alert-{{messageType}}" role="alert">{{message}}</div>
        </div>
    </div>
</div>