
.managerOptions-wrapper {
  padding: 30px;
  background-color: #f8fafc;
  min-height: 100vh;
}

.managerOptions-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.title-section h1 {
  font-size: 1.5rem;
  color:#1e293b;
  margin: 0;
}

.title-section p span {
  color: #004dc7;
  font-weight: 600;
}

.search-bar {
  display: flex;
  gap: 12px;
}

.input-group {
  position: relative;
  background: white;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  padding: 0 15px;
  display: flex;
  align-items: center;
}

.input-group input {
  border: none;
  padding: 10px;
  outline: none;
  font-size: 0.9rem;
}

.btn-search {
  background: #004dc7;
  color: white;
  border: none;
  padding: 10px 24px;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.btn-search:hover {
  opacity: 0.9;
  transform: translateY(-1px);
}


.content-card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.card-header {
  padding: 20px;
  border-bottom: 1px solid #e2e8f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modern-table {
  width: 100%;
  border-collapse: collapse;
}

.modern-table th {
  background: #f1f5f9;
  text-align: left;
  padding: 15px;
  font-size: 0.75rem;

  color: #64748b;
}

.modern-table td {
  padding: 15px;
  border-bottom: 1px solid #e2e8f0;
  font-size: 0.9rem;
}

.bold {
  font-weight: 600;
  color: #004dc7;
}

.amount {
  font-weight: 600;
  color: #059669;
}


