.readonly-summary {
    background-color: #f8faf8;
    border-radius: 12px;
    border: 1px solid #e9efe9;
}
.text-color{
    color:#3b702e ;
}

.info-box {
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-box-label {
    font-size: 0.75rem;
    color: #6c757d;
    font-weight: 700;
    margin-bottom: 4px;
}

.edit-card {
    border-radius: 16px;
    border: none;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.edit-card-body {
    padding: 3rem 2rem; 
}

.payment-section-wrapper {
    margin-left: -2rem; 
    margin-right: -2rem;
    padding: 2.5rem 2rem;
    background-color: #f8fafc;
    border-top: 1px solid #e2e8f0;
    border-bottom: 1px solid #e2e8f0;
}

.info-box-content {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #2d3748;
}

.icon-circle {
    width: 32px;
    height: 32px;
    background: white;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    color: #3b702e;
}

.payment-container {
    padding: 2rem !important; 
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    border: 1px solid #e4f0e2;
    background-color: #f8fcf8;
    border-radius: 12px;
}

.payment-footer {
    margin-top: 1.5rem;
    padding-top: 1rem;
    border-top: 1px style dashed #e2f0e3; 
}

.field-label {
    display: block;
    font-weight: 600;
    font-size: 0.85rem;
    color: #4a5568;
    margin-bottom: 12px; 
    padding-left: 2px;
}

.form-control {
    height: auto;
    padding: 12px 16px; 
    border-radius: 8px;
    font-size: 0.95rem;
    border: 1px solid #e2f0e3;
}

.form-group-container {
    margin-bottom: 1.5rem; 
}

.input-group-text {
    padding-left: 16px;
    padding-right: 12px;
    border: 1px solid #e2f0e2;
    border-right: none;
    background-color: #ffffff;
}

.btn-edit {
    background:  #3b702e;
    color: #fdfdfd;
    border: 1px solid #134e05;
    border-radius: 8px;
    padding: 6px 12px;
    font-size: 0.875rem;
    font-weight: 500;
    transition: all 0.2s;
    
}

.btn-edit:hover {
    background: #016504;
    color: white;
    transform: translateY(-2px);
}

.btn-cancel {
    background:  #5c5c5c;
    color: #fdfdfd;
    border: 1px solid var(--primary);
    border-radius: 8px;
    padding: 6px 12px;
    font-size: 0.875rem;
    font-weight: 500;
    transition: all 0.2s;
    
}

.btn-cancel:hover {
    background: #2f2f30;
    color: white;
    transform: translateY(-2px);
}

