<footer class="footer fixed-bottom improved-footer">
    <div class="container text-center">
        <div class="d-inline-flex align-items-center py-3 px-4 rounded-pill footer-badge">
            <div class="d-flex align-items-center me-2">
                <img src="assets/CREAAR_Logo-Vert_color.png" alt="Logo" class="footer-logo">
            </div>
            <span class="text-muted small-text">Rights reserved to</span>
            <span class="divider-v"></span>
             <span class="text-name ms-2">Creaar</span>
            <span class="text-dot"></span>
            <span class="ms-2 text-year">© 2026</span>
        </div>
    </div>
</footer>