.profile-card {
  border-radius: 16px;
  background: #ffffff;
}
.profile-avatar-wrapper {
  position: relative;
  display: inline-block;
  padding: 5px;
  border: 2px dashed #dee2e6;
  border-radius: 50%;
}
.main-avatar {
  width: 160px;
  height: 160px;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
  border: 4px solid white;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1) !important;
}
.text-color {
    color: #3b702e;
    text-align: center;
}
.main-avatar:hover {
  transform: scale(1.02);
}
.btn-edit-avatar {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: #3b702e;
  color: white;
  border: 4px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.btn-edit-avatar:hover {
  background-color: rgb(15, 95, 3);
  transform: scale(1.1);
}

.form-control {
  border: 1px solid #0b6c07;
  border-radius: 8px;
  padding: 0.75rem 1rem;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.form-control:focus {
  border-color: #9bc6a1;
  box-shadow: 0 0 0 0.25rem rgba(11, 150, 16, 0.361);
}

.custom-textarea {
  resize: none;
  line-height: 1.6;
}

.btn-save {
  background-color: #3b702e;
  color: white;
  font-weight: 600;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.btn-save:hover:not(:disabled) {
  background-color: #026602;
  box-shadow: 0 4px 12px rgba(13, 253, 73, 0.25);
}

.btn-save:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

@media (min-width: 768px) {
  .border-end-md {
    border-right: 2px solid #3b702e !important;
    box-shadow: 4px 0 8px -4px rgba(59, 112, 46, 0.3);
  }
}
@media (max-width: 767px) {
  .border-end-md {
    border-right: none !important;
    border-bottom: 2px solid #3b702e !important;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }
}