
.card {
    background: #ffffff;
    border-radius: 15px;
    border: none;
    overflow: hidden;
}

/* Estilo base para todos los badges de rol */
.badge {
    font-weight: 500;
    padding: 0.5em 0.8em;
}

/* ADMIN  */
.bg-role-admin {
    background-color: #ffefe5;
    color: #d97904;
    border: 1px solid #ffd1b3;
}

/* MANAGER  */
.bg-role-manager {
    background-color: #e0e7ff;
    color: #3850ca;
    border: 1px solid #c7d2fe;
}

/* USER  */
.bg-role-user {
    background-color: #ebdcfc;
    color: #421580;
    border: 1px solid #cfbbf7;
}

/* Por defecto   */
.bg-role-default {
    background-color: #f3f4f6;
    color: #374151;
}

/* Estilos para la tabla */
.improved-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 8px;
  overflow: hidden; 
}
.improved-table thead th {
  background: #f1f5f9;
  text-align: left;
  padding: 12px 20px;
  font-size: 0.75rem;
  letter-spacing: 0.05em;
  color: #64748b;
  border-bottom: 2px solid #e2e8f0;
  font-weight: 600;
}

.improved-table td {
  padding: 16px 20px;
  border-bottom: 1px solid #e2e8f0;
  font-size: 0.9rem;
  color: #334155;
  vertical-align: middle;
}

/* Efecto sutil al pasar el mouse */
.improved-table tbody tr:hover {
  background-color: #f8fafc;
}

.btn-icon {
    width: 38px;
    height: 38px;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    transition: 0.2s;
}

.btn-edit {
    background: #fdfdfd;
    color: #004dc7;
    border: 1px solid var(--primary);
    border-radius: 8px;
    padding: 6px 12px;
    font-size: 0.875rem;
    font-weight: 500;
    transition: all 0.2s;
    
}

.btn-edit:hover {
    background: #023a94;
    color: white;
}

.btn-createManager {
  padding: 12px 25px;
  background: #004dc7;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  align-items: center;
}

.btn-createManager:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 12px rgba(78, 115, 223, 0.3);
}

.btn-createManager:active {
  transform: translateY(0);
}