<div class="main-layout p-4">
    <div class="container-fluid">
        <div class="row g-4">

            <div class="col-auto" *ngIf="isLoggedIn">
                <div class="card border-0 shadow-sm menu-card">
                    <div class="card-body p-2">
                        <nav class="nav flex-column">
                            <a class="nav-link" routerLink="/dashboard" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">
                                <i class="bi bi-calendar-event me-3"></i>
                                <span>Appointments</span>
                            </a>
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/user', user.id]">
                                <i class="bi bi-person-circle me-3"></i>
                                <span>{{username}}</span>
                            </a>

                            <hr class="my-2 mx-2 opacity-10" *ngIf="user?.role === 'ADMIN' || user?.role === 'MANAGER'">

                            <a *ngIf="user?.role === 'ADMIN'" class="nav-link admin-link" routerLinkActive="active"
                                routerLink="/users">
                                <i class="bi bi-shield-lock me-3"></i>
                                <span>Manage Users</span>
                            </a>

                            <ng-container *ngIf="user?.role === 'MANAGER'">
                                <a class="nav-link" routerLinkActive="active" routerLink="/manager-users-list">
                                    <i class="bi bi-people me-3"></i>
                                    <span>Users</span>
                                </a>
                                <a class="nav-link" routerLinkActive="active" routerLink="/notification">
                                    <i class="bi bi-bell me-3"></i>
                                    <span>Notifications</span>
                                </a>
                            </ng-container>
                            <a *ngIf="user?.role === 'ADMIN'" class="nav-link" routerLinkActive="active"
                                routerLink="/manager-options">
                                <i class="bi bi-card-list me-3"></i>
                                <span>Manager Options</span>
                            </a>
                        </nav>
                    </div>
                </div>
            </div>

            <main class="col">
                <div class="card border-0 shadow-sm p-4 ">
                    <div class="animate-fade">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </main>

        </div>
    </div>
</div>