<div class="main-container">
    <div class="login-box">
        <div class="login-header">
            <div class="brand-logo">
                <i class="bi bi-person-circle"></i>
            </div>
            <h2 t>Login</h2>

        </div>

        <form #userData="ngForm" (ngSubmit)="onSubmit(userData.value)">
            <div class="input-wrapper">
                <label t>Email</label>
                <div class="input-field">
                    <i class="bi bi-envelope"></i>
                    <input type="email" name="email" placeholder="name@example.com" ngModel required t/>
                </div>
            </div>

            <div class="input-wrapper">
                <label t>Password</label>
                <div class="input-field">
                    <i class="bi bi-lock"></i>
                    <input type="password" name="password" placeholder="password" ngModel required t/>
                </div>
            </div> 

            <button type="submit" class="login-btn">
                <span t>Login</span>
            </button>
        </form>

        <div *ngIf="responseMessage" class="status-message ">
            <div class="alert-content"
            [ngClass]="{'alert-success': !isError, 'alert-error': isError}">
                <i class="bi" [ngClass]="{'bi-check-circle-fill': !isError, 'bi-x-circle-fill': isError}"></i>
                <span t>{{ responseMessage }}</span>
            </div>
        </div>
    </div>
</div>