.main-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background: #e2e8f0;
    padding-top: 10vh; 
}

.login-box {
    width: 90%; 
    max-width: 380px; 
    padding: 2.5rem 2.2rem;
    background: #ffffff; 
    border-radius: 24px;
    border: 1px solid #cbd5e0;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}

.login-header {
    text-align: center;
    margin-bottom: 2.5rem;
}

.brand-logo {
    font-size: 3.2rem; 
    color: #3b702e;
    margin-bottom: 0.8rem;
}

.login-header h2 {
    font-size: 1.6rem; 
    font-weight: 800;
    color: #1a202c;
    margin: 0;
    letter-spacing: -0.5px;
}

.input-wrapper {
    margin-bottom: 1.5rem;
}

/* Etiquetas */
.input-wrapper label {
    display: block;
    font-size: 0.9rem; 
    font-weight: 600;
    color: #2d3748; 
    margin-bottom: 8px;
    margin-left: 2px;
}

.input-field {
    display: flex;
    align-items: center;
    background: #f8fafc; 
    border: 2px solid #e2e8f0;
    border-radius: 12px;
    padding: 4px 14px;
    transition: all 0.2s ease;
}

.input-field i {
    color: #3b702e;
    font-size: 1.1rem; 
    margin-right: 12px;
}

.input-field input {
    border: none;
    background: transparent;
    padding: 12px 0;
    width: 100%;
    outline: none;
    font-size: 1rem; 
    color: #1a202c;
}

.input-field:focus-within {
    background: #ffffff;
    border-color: #3b702e;
    box-shadow: 0 0 0 4px rgba(0, 77, 199, 0.12);
}

.login-btn {
    width: 100%;
    background: #3b702e;
    color: white;
    border: none;
    padding: 16px; 
    border-radius: 12px;
    font-size: 1.05rem; 
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 1rem;
}

.login-btn:hover {
    background: #125f02;
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(249, 249, 250, 0.3);
}

/* Alerta */
.status-message {
    margin-top: 1.5rem;
}

/* Estructura base de la alerta  */
.alert-content {
    padding: 14px;
    border-radius: 12px;
    font-size: 0.95rem; 
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid transparent;

}

/* Variante para éxito */
.alert-success {
    background-color: #f0fdf4; 
    color: #166534;           
    border-color: #bbf7d0;     
}

/* Variante para error*/
.alert-error {
    background-color: #fef2f2; 
    color: #991b1b;           
    border-color: #fecaca;     
}

.alert-content i {
    font-size: 1.1rem;
}


